node_modules
dist
npm-debug.log
PPE1/booking-client/booking-client-app/src/config.js
PPE1/booking-server/booking-server-app/static
PPE2/admin-client/admin-client-app/src/config.js
PPE2/admin-server/admin-server-app/static
.tmp